
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
a {
    cursor: pointer;
    text-decoration: none !important;
}
a:hover {
    color: unset !important;
}
.section__one {
    display: flex;
    justify-content: flex-end;
    gap: 75px;
    align-items: center;
    padding-top: 104px;
}
.sec__one__left {
    width: 100%;
    max-width: 445px;
}
.sec__one__left > form {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(17, 58, 104, 0.18);
    border-radius: 16px;
    padding: 2rem;
    width: 100%;
    max-width: 430px;
}
.sec__one__logo__mob {
    display: none;
}
.sec__one__heading__first {
    font-weight: 900;
    font-size: 32px;
    line-height: 38.73px;
    color: #379fd0;
}
.sec__one__heading__first span {
    color: #ffa22f;
}
.sec__one__heading__second {
    font-weight: 900;
    font-size: 40px;
    line-height: 48.413px;
    color: #379fd0;
    margin-bottom: 44px;
}
.sec__one__para {
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #747474;
    margin-bottom: 64px;
}
.sec__one__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 19px 0;
    width: 100%;
    background: #ffa22f;
    border-radius: 8px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #11273d !important;
    outline: none;
}
a:hover {
    transform: none;
    transition: none;
}
.sec__one__btn-mobile {
    display: none;
}
.hand__form__web {
    max-width: 605.94px;
}
.hand__form__web > img {
    width: 100%;
}
.hand__form__mob {
    display: none;
}
.FormElementsWrapper {
    margin-bottom: 1rem;
}
.FormElementsWrapper label {
    font-weight: 600;
    font-size: 1rem;
    line-height: 19px;
    color: #113a68;
    margin-bottom: 0.5rem;
    display: block;
}
.FormElementsWrapper:last-child {
    margin-bottom: 1.5rem;
}
.FormElementsWrapper input {
    width: 100%;
    border: 1.12329px solid rgba(49, 49, 49, 0.2);
    border-radius: 8px;
    padding: 1rem 0.75rem;
    outline: none !important;
}
input::placeholder {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 21px;
    text-align: left;
    color: rgba(49, 49, 49, 0.4);
}
.phoneNumberInputWrapper input {
    padding: 1rem 0.75rem 1rem 5rem;
}
.error {
    color: #ff0000;
    margin-top: 10px;
}
.phoneNumberInputWrapper {
    position: relative;
}

/*section two*/
.section__two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132.74px;
    padding-top: 106px;
}
.women__On__pc__mob__wrapper {
    display: none;
}
.women__On__pc__web__wrapper {
    width: 100%;
    max-width: 545.52px;
}
.women__On__pc__web__wrapper > img {
    width: 100%;
}
.sec__two__heading__first {
    font-weight: 700;
    font-size: 40px;
    line-height: 43.02px;
    color: #379fd0;
}
.sec__two__heading__second {
    font-weight: 700;
    font-size: 36px;
    line-height: 43.57px;
    color: #ffa22f;
}
.sec__two__para {
    font-weight: 700;
    font-size: 16px;
    line-height: 31.68px;
    color: #747474;
    margin-bottom: 32px;
}
.sec__two__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17.65px;
    background-color: #ffa22f;
    width: 100%;
    max-width: 352px;
    padding-top: 23.99px;
    padding-bottom: 24.01px;
    border-radius: 8px;
    font-weight: 800;
    font-size: 20px;
    line-height: 18px;
    color: #11273d;
}
/*section three*/
.section__three {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.sec__three__heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #ffa22f;
    margin-bottom: 1rem;
}
.sec__three__heading > span {
    color: #379fd0;
}
.sec__three__info {
    font-weight: 700;
    font-size: 16px;
    line-height: 31.68px;
    text-align: center;
    color: #747474;
    margin-bottom: 32px;
}
.sec__three__smiling__girl__web {
    z-index: -1;
    position: relative;
    bottom: -236px;
}
.sec__three__main__div {
    max-width: 1120px;
    width: 100%;
    border: 2px solid rgba(106, 110, 105, 0.1);
    box-shadow: 0px 18px 13px rgba(12, 8, 41, 0.06);
    border-radius: 16px;
    padding: 2.5rem 0.75rem 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}
.sec__three__smiling__girl__mob {
    display: none;
}

.sec__three__card__wrapper {
    display: flex;
    justify-content: center;
    gap: 51px;
    margin-bottom: 40px;
    width: 100%;
}
.sec__three__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 2px solid rgba(106, 110, 105, 0.1);
    border-radius: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 209.05px;
    width: 100%;
}
.sec__three__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #ffa22f;
    border-radius: 8px;
    width: 100%;
    max-width: 352px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #11273d;
}

/*section four*/
.section__four {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 144px;
    padding-inline: 12px;
}
.sec__four__img__mob {
    display: none;
}
.sec__four__img__web {
    width: 100%;
    max-width: 586.56px;
}
.sec__four__img__web > img {
    width: 100%;
}
.sec__four__main__div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2.35209px solid rgba(106, 110, 105, 0.1);
    border-radius: 17.6407px;
    padding: 64px 12px 56px;
    width: 100%;
    max-width: 545px;
}
.sec__four__heading {
    font-weight: 900;
    font-size: 32.9293px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #ffa22f;
    margin-bottom: 28px;
}
.sec__four__heading > span {
    color: #379fd0;
}
.sec__four__card {
    display: flex;
    padding-left: 47.04px;
    align-items: center;
    gap: 28.22px;
    max-width: 449px;
    width: 100%;
    box-shadow: 0px 4.70419px 10.5844px rgba(0, 53, 102, 0.08);
    border-radius: 18.8167px;
    padding-top: 18.82px;
    padding-bottom: 18.82px;
    margin-bottom: 28px;
}
.sec__four__card__info {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ff8600;
}
.sec__four__offer {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #435058;
    margin-bottom: 8px;
}
.sec__four__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22.5px;
    background: #ffa22f;
    border-radius: 8px;
    padding-top: 19px;
    padding-bottom: 19px;
    width: 100%;
    max-width: 449px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #11273d;
}

/*section five*/
.section__five {
    display: flex;
    justify-content: center;
    padding-top: 143.62px;
    padding-bottom: 107px;
}
.sec__five__img__mob {
    display: none;
}
.sec__five__img__web {
    width: 100%;
    max-width: 560px;
}
.sec__five__img__web > img {
    width: 100%;
}
.sec__five__right {
    width: 100%;
    max-width: 479px;
}
.sec__five__main__div {
    background: #ffffff;
    border: 2px solid rgba(57, 110, 176, 0.1);
    box-shadow: -17px 18px 38px rgba(12, 8, 41, 0.1);
    border-radius: 16px;
    margin-bottom: 24px;
}

.sec__five__gray {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.sec__five__gray__heading {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.sec__five__gray__heading > p {
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-transform: capitalize;
    color: #ffa22f;
    margin-bottom: 8px;
}
.sec__five__gray__info {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #435058;
    width: 100%;
}
.sec__five__gray__info > span {
    font-weight: 900;
}
.sec__five__gray {
    background: rgba(17, 58, 104, 0.05);
    border-radius: 16px 16px 0px 0px;
    border: 1px solid rgba(17, 58, 104, 0.1);
}
.sec__five__div {
    padding-top: 39.44px;
    padding-bottom: 39.44px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(17, 58, 104, 0.1);
}
.sec__five__div > span {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #113a68;
}
.sec__five__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #ffa22f;
    box-shadow: 0px 3.68539px 6.63371px rgba(40, 26, 69, 0.15), 0px 0.737079px 1.47416px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    font-weight: 800;
    font-size: 20px;
    line-height: 18px;
    text-transform: capitalize;
    color: #11273d;
}
.sec__five__main__div > * {
    padding-left: 32px;
}

/*section six*/
.section__six {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #379fd0;
    padding-top: 86.98px;
    padding-bottom: 56px;
}

.sec__six__count {
    font-weight: 700;
    font-size: 93px;
    line-height: 113px;
    text-transform: uppercase;
    color: #ffffff;
}
.sec__six__stories {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #ffffff;
}
.sec__six__stories__para {
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 37.97px;
}
.section_mobile {
    display: none;
}
.six__img__wrapper {
    display: flex;
    margin-bottom: 57.98px;
    gap: 24.11px;
    width: 100%;
    justify-content: center;
}
.sec__six__card {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 292px;
    background-color: white;
    box-shadow: 0px 16.052px 11.5931px rgba(0, 0, 0, 0.25);
    border-radius: 7.13423px;
    padding: 17.84px 36.56px 16.94px 34.78px;
}
.sec__six__card > img {
    width: 100%;
}
.sec__six__btn {
    width: 100%;
    max-width: 353px;
    background: #ffa22f;
    border-radius: 8px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #11273d;
    padding-top: 19px;
    padding-bottom: 19px;
}
/*section seven*/
.sec__seven__btn {
    padding: 30px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    max-width: 450px;
    margin: 0 auto;
    background: #ffa22f;
    border-radius: 10.9756px;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 24px;
    text-transform: capitalize;
    color: #11273d;
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section__seven {
    display: flex;
    justify-content: center;
    padding: 37.63px 16px 72.75px;
}
.sec__seven__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
}
.sec__seven__left {
    width: 100%;
    max-width: 352px;
}
.sec__seven__heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #379fd0;
}
.sec__seven__for__free {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #ffa22f;
}
.sec__seven__right {
    width: 100%;
    position: relative;
    max-width: 450px;
}
.sec__mobile__web {
    width: 100%;
    max-width: 330.64px;
    margin: 0 auto;
}
.sec__mobile__web > img {
    width: 100%;
}

.sec__seven__logo__mob {
    display: none;
}
.sec__three__card > p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #113a68;
}
.modal-settings {
    top: 25%;
}
.modal-open {
    overflow: visible;
    position: absolute;
    width: 100%;
    height: 100%;
}
.getInTouch {
    font-weight: 600;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #113a68;
    margin-bottom: 0.5rem;
}
.CountryCodeText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 0.5rem;
    position: absolute;
    top: 17px;
    left: 12px;
    padding-right: 0.5rem;
    border-right: 1px solid #cfd1d4;
}
@media (max-width: 1000px) {
    .sec__three__card__wrapper {
        flex-wrap: wrap;
    }
    .six__img__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .section__one {
        padding-left: 1rem;
    }
    .section__two,
    .section__three,
    .section__five,
    .section__six {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .section__one {
        flex-direction: column;
        align-items: center;
    }
    .section__two {
        flex-direction: column;
        align-items: center;
    }
    .section__five {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 800px) {
    .section__one {
        gap: 30px;
    }
    .section__two {
        gap: 50px;
    }
    .sec__seven__wrapper {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 700px) {
    .section__one {
        gap: 10px;
    }
    .section__two {
        gap: 30px;
    }
}
@media (max-width: 600px) {
    .sec__three__smiling__girl__web {
        width: 100%;
        max-width: 330px;
        margin: -5rem auto 0rem;
        bottom: -145px;
    }
    .sec__three__smiling__girl__web img {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .sec__six__btn {
        max-width: 100%;
    }
    .sec__one__left > form {
        max-width: 100%;
    }
    .section__one {
        padding-top: 49px;
        padding-left: 0;
        gap: 10px;
    }
    .sec__one__logo__mob {
        display: block;
    }
    .sec__one__heading__first {
        font-size: 28px;
        line-height: 34px;
    }
    .sec__one__heading__second {
        margin-bottom: 32px;
    }
    .sec__one__left {
        width: 100%;
        max-width: 100%;
        padding-inline: 15.5px;
    }
    .sec__one__btn {
        width: 100%;
    }

    .sec__one__right {
        width: 100%;
        margin-top: 3rem;
    }

    .hand__form__mob {
        display: block;
        width: 100%;
        max-width: 500px;
    }
    .hand__form__mob > img {
        width: 100%;
    }
    .women__On__pc__web__wrapper {
        display: none;
    }
    .section__two {
        padding-top: 35px;
        align-items: center;
        gap: 55.68px;
        padding: 0;
    }
    .sec__two__left {
        width: 100%;
    }
    .women__On__pc__mob__wrapper {
        display: block;
        width: 100%;
        max-width: 500px;
    }
    .women__On__pc__mob__wrapper > img {
        width: 100%;
    }
    .sec__two__heading__first {
        font-size: 36px;
        line-height: 38.88px;
    }
    .sec__two__heading__second {
        font-size: 36px;
        line-height: 43.57px;
    }
    .sec__two__btn {
        gap: 12px;
    }
    .sec__two__right {
        width: 100%;
        padding: 0rem 1rem;
    }
    .sec__two__btn {
        max-width: 100%;
    }
    .section__three {
        padding-left: 0.875rem;
        padding-right: 0.875rem;
    }
    .sec__three__heading {
        margin-bottom: 6px;
    }
    .sec__three__info {
        margin-bottom: 6px;
    }
    .sec__three__card__wrapper {
        gap: 1rem;
    }
    .sec__three__card {
        max-width: 143.5px;
        height: 158px;
    }
    .sec__three__main__div {
        padding: 2.5rem 0.75rem 2.5rem;
    }
    .section__four {
        padding-top: 2rem;
    }
    .sec__four__main__div {
        padding: 2rem 0.75rem 2.5rem;
    }
    .sec__four__heading {
        margin-bottom: 1.5rem;
    }
    .sec__four__card {
        padding: 1rem 2.5rem;
        justify-content: center;
    }
    .sec__four__btn {
        gap: 1rem;
    }
    .section__five {
        padding-top: 36px;
        padding-left: 0;
        padding-right: 0;
    }
    .sec__five__right-wrapper {
        padding: 0rem 1rem;
        width: 100%;
    }
    .sec__five__right {
        max-width: 100%;
    }
    .section__five {
        padding-bottom: 3.5rem;
    }
    .sec__six__top--logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section__six {
        align-items: stretch;
    }

    .sec__five__main__div > * {
        padding-left: 24px;
    }
    .sec__five__gray {
        padding: 24px 0.2rem 24px 24px;
    }
    .sec__five__gray__info {
        font-size: 1rem;
    }
    .sec__one__btn {
        height: 62px;
    }
    .sec__one__btn-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18.99px;
        padding: 23px 0;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        background: #ffa22f;
        border-radius: 8px;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #11273d;
        outline: none;
    }
    .sec__one__logo__web {
        display: none;
    }
    .modal-settings {
        position: absolute !important;
        height: 300px;
        top: 40%;
    }
}