@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
html {
    scroll-behavior: smooth;
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none !important;
}
.mainWrapper {
    background-color: #FFFFFF;
    padding: 20px 16px 0px;
    height: 100vh;
}
.brandLogo-ImageWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.subheading-one {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #396EB0;
    margin-bottom: 24px;
}
.subheading-two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #292929;
    margin-bottom: 32px;
}
.formWrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 328px;
}
.formWrapper label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #292929;
    margin-bottom: 8px;
    display: block;
}
.redAsterisk {
    color: #D23939;
    display: inline-block;
}
.formInputWrapper input {
    width: 100%;
    margin-bottom: 12px;
    background: #F2F8FF;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 14.5px 16px;
}
.formInputWrapper input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #C9CCCD;
}
.submit-btn {
    width: 100%;
    max-width: 223px;
    background: #FF8663;
    border-radius: 8px;
    outline: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 0px;
    margin: 48px auto 0;
    display: block;
}
.selectInputWrapper {
    width: 100%;
}
.selectInputWrapper select {
    width: 100%;
    background: #F2F8FF;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 14.5px 16px;
}
@media ( max-width : 500px ) {
    .formWrapper {
        max-width: 100%;
    }
    .brandLogo-ImageWrapper img {
        width: 100%;
    }
    .subheading-one {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 16px;
    }
    .subheading-two {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }
}