---

const props = Astro.props

---

<section class="section__five">
    <div class="sec__five__img__web">
        <img width={560} height={535} src={props?.attributes?.Image?.data?.attributes?.url} alt="" />
    </div>
    <div class="sec__five__right-wrapper">
        <div class="sec__five__right">
            <div class="sec__five__main__div">
                <div class="sec__five__gray">
                    <!-- <p dangerouslySetInnerHTML={{ __html : props?.attributes?.Heading}} /> -->
                </div>

                {props?.attributes?.Points?.map(each => {
                    return (
                        <div class="sec__five__div"> <!-- key={Math.random()} -->
                            <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.753208" y="1.18875" width="28.6219" height="28.6219" rx="8.28528" fill="url(#paint0_linear_2007_4208)" />
                                <path d="M22.095 10.2266L12.4289 19.8927L8.03516 15.499" stroke="white" stroke-width="3.01283" stroke-linecap="round" stroke-linejoin="round" />
                                <rect x="0.753208" y="1.18875" width="28.6219" height="28.6219" rx="8.28528" stroke="#999999" stroke-width="1.50642" />
                                <defs>
                                    <linearGradient id="paint0_linear_2007_4208" x1="15.0641" y1="0.435547" x2="15.0641" y2="30.5638" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4DCE62" stop-opacity="0.74" />
                                        <stop offset="1" stop-color="#4DCE62" />
                                    </linearGradient>
                                </defs>
                            </svg>
                            <span>{each?.Text}</span>
                        </div>
                    )
                })}
            </div>
            <a class="sec__five__btn"> <!--  onClick={handleScrollToTop} -->
                <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 17.9545V14.9C0 14.2818 0.159273 13.7135 0.477818 13.1949C0.795636 12.6771 1.21818 12.2818 1.74545 12.0091C2.87273 11.4455 4.01818 11.0225 5.18182 10.7404C6.34545 10.4589 7.52727 10.3182 8.72727 10.3182C9.92727 10.3182 11.1091 10.4589 12.2727 10.7404C13.4364 11.0225 14.5818 11.4455 15.7091 12.0091C16.2364 12.2818 16.6589 12.6771 16.9767 13.1949C17.2953 13.7135 17.4545 14.2818 17.4545 14.9V17.9545H0ZM19.6364 17.9545V14.6818C19.6364 13.8818 19.4138 13.1135 18.9687 12.3767C18.5229 11.6407 17.8909 11.0091 17.0727 10.4818C18 10.5909 18.8727 10.7771 19.6909 11.0404C20.5091 11.3044 21.2727 11.6273 21.9818 12.0091C22.6364 12.3727 23.1364 12.7771 23.4818 13.2222C23.8273 13.668 24 14.1545 24 14.6818V17.9545H19.6364ZM8.72727 9.22727C7.52727 9.22727 6.5 8.8 5.64545 7.94545C4.79091 7.09091 4.36364 6.06364 4.36364 4.86364C4.36364 3.66364 4.79091 2.63636 5.64545 1.78182C6.5 0.927273 7.52727 0.5 8.72727 0.5C9.92727 0.5 10.9545 0.927273 11.8091 1.78182C12.6636 2.63636 13.0909 3.66364 13.0909 4.86364C13.0909 6.06364 12.6636 7.09091 11.8091 7.94545C10.9545 8.8 9.92727 9.22727 8.72727 9.22727ZM19.6364 4.86364C19.6364 6.06364 19.2091 7.09091 18.3545 7.94545C17.5 8.8 16.4727 9.22727 15.2727 9.22727C15.0727 9.22727 14.8182 9.20473 14.5091 9.15964C14.2 9.11382 13.9455 9.06364 13.7455 9.00909C14.2364 8.42727 14.6135 7.78182 14.8767 7.07273C15.1407 6.36364 15.2727 5.62727 15.2727 4.86364C15.2727 4.1 15.1407 3.36364 14.8767 2.65455C14.6135 1.94545 14.2364 1.3 13.7455 0.718182C14 0.627273 14.2545 0.568 14.5091 0.540364C14.7636 0.513455 15.0182 0.5 15.2727 0.5C16.4727 0.5 17.5 0.927273 18.3545 1.78182C19.2091 2.63636 19.6364 3.66364 19.6364 4.86364ZM2.18182 15.7727H15.2727V14.9C15.2727 14.7 15.2229 14.5182 15.1233 14.3545C15.0229 14.1909 14.8909 14.0636 14.7273 13.9727C13.7455 13.4818 12.7545 13.1135 11.7545 12.8676C10.7545 12.6225 9.74545 12.5 8.72727 12.5C7.70909 12.5 6.7 12.6225 5.7 12.8676C4.7 13.1135 3.70909 13.4818 2.72727 13.9727C2.56364 14.0636 2.432 14.1909 2.33236 14.3545C2.232 14.5182 2.18182 14.7 2.18182 14.9V15.7727ZM8.72727 7.04545C9.32727 7.04545 9.84109 6.83164 10.2687 6.404C10.6956 5.97709 10.9091 5.46364 10.9091 4.86364C10.9091 4.26364 10.6956 3.75018 10.2687 3.32327C9.84109 2.89564 9.32727 2.68182 8.72727 2.68182C8.12727 2.68182 7.61382 2.89564 7.18691 3.32327C6.75927 3.75018 6.54545 4.26364 6.54545 4.86364C6.54545 5.46364 6.75927 5.97709 7.18691 6.404C7.61382 6.83164 8.12727 7.04545 8.72727 7.04545Z"
                        fill="#11273D"
                    />
                </svg>
                {props?.attributes?.ButtonText}
            </a>
        </div>
    </div>
</section>