---

const props = Astro.props

---

<section class="section__one">
    <div class="sec__one__left" id="navigate">
        <svg class="sec__one__logo__web" width={180} height={52} viewBox="0 0 180 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25.9107 12.416V18.6637H17.4388V20.2351H25.9107V26.6865H17.4388L12 40.0371L12.0081 12.416H25.9107Z" fill="#05386B" />
        <path d="M28.8008 31.4814V12.4883H31.3897V29.038H40.0967V31.4789L28.8008 31.4814Z" fill="#05386B" />
        <path d="M41.6523 12.4883H44.2534V23.3904C44.2242 24.2547 44.2878 25.1197 44.4431 25.9693C44.5576 26.452 44.7744 26.902 45.0777 27.2865C45.5962 27.9313 46.2549 28.4388 46.9996 28.767C47.8003 29.1049 48.6586 29.2712 49.5228 29.256C50.9067 29.3256 52.2679 28.872 53.3543 27.9792C53.8269 27.5697 54.2032 27.0536 54.4545 26.4701C54.7058 25.8867 54.8255 25.2513 54.8044 24.6125V12.4925H57.4071V24.6967C57.4376 25.6705 57.2573 26.639 56.8794 27.5308C56.5014 28.4226 55.9355 29.215 55.2234 29.8494C53.6243 31.218 51.593 31.9219 49.5228 31.8248C48.2342 31.8451 46.9559 31.5838 45.7708 31.0581C44.6683 30.5571 43.6993 29.7859 42.9468 28.8108C42.4824 28.2358 42.1411 27.5647 41.9457 26.8421C41.7133 25.7458 41.6147 24.6234 41.6523 23.5015V12.4883Z" fill="#05386B" />
        <path d="M61.2383 31.4814V12.4883H72.2343V14.9047H63.8272V20.6609H71.9992V23.1177H63.8272V29.0372H72.5115V31.478L61.2383 31.4814Z" fill="#05386B" />
        <path d="M75.8008 31.4814V12.4883H78.076L90.1176 27.2318V12.4883H92.7203V31.4814H90.3932L78.3905 16.7244V31.4814H75.8008Z" fill="#05386B" />
        <path d="M101.575 31.4814V14.9586H94.8555V12.4883H110.896V14.9586H104.176V31.4814H101.575Z" fill="#05386B" />
        <path d="M119.129 31.4814V12.4883H121.718V29.038H130.425V31.4789L119.129 31.4814Z" fill="#05386B" />
        <path d="M133.316 31.4814V12.4883H135.93V31.4814H133.316Z" fill="#05386B" />
        <path d="M140.602 31.4814V12.4883H151.009V14.9047H143.19V20.5254H150.773V22.9662H143.19V31.4814H140.602Z" fill="#05386B" />
        <path d="M154.73 31.4814V12.4883H165.726V14.9047H157.318V20.6609H165.489V23.1177H157.318V29.0372H166V31.478L154.73 31.4814Z" fill="#05386B" />
        </svg>
        <svg class="sec__one__logo__mob" width={178} height={51} viewBox="0 0 178 51" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25.9107 12V18.2475H17.4388V19.8189H25.9107V26.2701H17.4388L12 39.6203L12.0081 12H25.9107Z" fill="#05386B" />
        <path d="M28.8008 31.0648V12.0723H31.3897V28.6215H40.0966V31.0623L28.8008 31.0648Z" fill="#05386B" />
        <path d="M41.6523 12.0723H44.2534V22.9741C44.2241 23.8383 44.2878 24.7033 44.4431 25.5529C44.5576 26.0355 44.7744 26.4855 45.0777 26.8701C45.5962 27.5149 46.2549 28.0223 46.9995 28.3505C47.8003 28.6884 48.6586 28.8547 49.5228 28.8395C50.9066 28.9091 52.2678 28.4555 53.3543 27.5628C53.8269 27.1533 54.2032 26.6371 54.4545 26.0537C54.7058 25.4703 54.8254 24.8349 54.8043 24.1962V12.0765H57.407V24.2803C57.4376 25.2541 57.2572 26.2226 56.8793 27.1144C56.5014 28.0061 55.9355 28.7984 55.2234 29.4329C53.6242 30.8014 51.593 31.5053 49.5228 31.4082C48.2342 31.4285 46.9559 31.1672 45.7707 30.6415C44.6683 30.1405 43.6993 29.3694 42.9468 28.3943C42.4823 27.8193 42.1411 27.1482 41.9457 26.4257C41.7133 25.3294 41.6147 24.2071 41.6523 23.0852V12.0723Z" fill="#05386B" />
        <path d="M61.2383 31.0648V12.0723H72.2342V14.4886H63.8272V20.2446H71.9992V22.7014H63.8272V28.6207H72.5114V31.0615L61.2383 31.0648Z" fill="#05386B" />
        <path d="M75.8008 31.0648V12.0723H78.076L90.1176 26.8154V12.0723H92.7203V31.0648H90.3932L78.3905 16.3083V31.0648H75.8008Z" fill="#05386B" />
        <path d="M101.571 31.0648V14.5425H94.8516V12.0723H110.892V14.5425H104.172V31.0648H101.571Z" fill="#05386B" />
        <path d="M119.125 31.0648V12.0723H121.714V28.6215H130.421V31.0623L119.125 31.0648Z" fill="#05386B" />
        <path d="M133.316 31.0648V12.0723H135.93V31.0648H133.316Z" fill="#05386B" />
        <path d="M140.598 31.0648V12.0723H151.005V14.4886H143.186V20.1091H150.769V22.5499H143.186V31.0648H140.598Z" fill="#05386B" />
        <path d="M154.73 31.0648V12.0723H165.726V14.4886H157.318V20.2446H165.489V22.7014H157.318V28.6207H166V31.0615L154.73 31.0648Z" fill="#05386B" />
        </svg>
        <!-- <p dangerouslySetInnerHTML={{ __html: props?.attributes?.Heading}} />  -->
        <!-- <p>{props?.attributes?.Heading}</p>  -->
        <form method="post" onsubmit="(e)=>{e.preventDefault()}">
            {props?.attributes?.Inputs?.map(each => {
                if(each?.func === 'phone'){
                    return (
                        <div class="FormElementsWrapper">
                            <label>{each?.Inputlabel}</label>
                            <div class="phoneNumberInputWrapper">
                            <input 
                                type="text" 
                                placeholder={each?.InputPlaceholder}
                                id={each?.func} 
                                name={each?.func}
                                class='common_input_class'
                            />
                            <span class="CountryCodeText"> <img width={21} height={20} src="https://s3.us-east-2.wasabisys.com/ufaber-lms/files/a866e21c2b2c704b9c79dbcc6815f6c1.svg" alt="" />+91 </span>
                            <p class="error" id="name-error" />
                            </div>
                        </div>
                    )
                } else {
                    return (
                        <div class="FormElementsWrapper">
                            <label>{each?.Inputlabel}</label>
                            <input 
                                type="text" 
                                placeholder={each?.InputPlaceholder}
                                id={each?.func} 
                                name={each?.func}
                                class='common_input_class'
                            />
                            <p class="error" id="name-error" />
                        </div>
                    )
                }
                
            })}
        
        <p class="getInTouch">{props?.attributes?.FormText}</p>
        <a class="sec__one__btn" >
            <img width={11} height={10} src="https://s3.us-east-1.wasabisys.com/lms-ufaber/Vector.svg" alt="" />
            {props?.attributes?.ButtonText}
        </a>
        </form>
    </div>
    <div class="sec__one__right">
        <div class="hand__form__web">
        <img class="form hand web" width={581} height={620} src="https://ufaber-lms.s3.ap-southeast-1.amazonaws.com/dd65fe6da02c53bfe9fdbfddc36dec48_1_bdb285fe5a.webp" alt="" />
        </div>
    </div>
</section>