---

const props = Astro.props

---

<section class="section__four">
    <div class="sec__four__img__web">
        <img width={587} height={409} src={props?.attributes?.DesktopImage?.data?.attributes?.url} alt="" />
    </div>
    <div class="sec__four__img__mob">
        <img width={360} height={335} src={props?.attributes?.MobileImage?.data?.attributes?.url} alt="" />
    </div>
    <div class="sec__four__main__div">
        <!-- <p dangerouslySetInnerHTML={{ __html: props?.attributes?.Heading }} /> -->
        <div class="sec__four__card">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M44.9418 19.7793C43.062 19.4731 41.1549 19.3235 39.2446 19.3324C38.1469 19.3324 37.0754 19.3324 36.0039 19.5205C34.67 17.9185 32.9673 16.5946 31.0123 15.6396C32.6915 13.989 33.6238 11.8327 33.6257 9.5947C33.6257 7.18678 32.5629 4.87748 30.6711 3.17482C28.7792 1.47217 26.2134 0.515625 23.5379 0.515625C20.8625 0.515625 18.2966 1.47217 16.4048 3.17482C14.513 4.87748 13.4501 7.18678 13.4501 9.5947C13.4521 11.8327 14.3843 13.989 16.0636 15.6396C14.1202 16.5996 12.4203 17.9133 11.0719 19.497C10.0527 19.3324 8.9812 19.3324 7.88356 19.3324C5.97165 19.339 4.06449 19.5044 2.18632 19.8263C1.5775 19.9265 1.02795 20.2179 0.635515 20.6486C0.243077 21.0793 0.0332228 21.6214 0.0433166 22.1784V41.5832C0.0426931 41.9287 0.126672 42.2701 0.289281 42.5832C0.451891 42.8962 0.689136 43.1731 0.984146 43.3943C1.2773 43.6167 1.62125 43.7784 1.9916 43.8678C2.36196 43.9573 2.74964 43.9723 3.12715 43.9117C4.69104 43.6052 6.28355 43.4319 7.88356 43.3943C12.946 43.3893 17.8986 44.7224 22.1267 47.2282L22.4664 47.3458C22.8131 47.4812 23.1862 47.5531 23.5641 47.5575C23.8135 47.5547 24.0607 47.5149 24.2958 47.4399H24.4788L24.8185 47.3223C29.0868 44.7522 34.1091 43.3847 39.2446 43.3943C40.8413 43.401 42.4337 43.5427 44.001 43.8176C44.3785 43.8782 44.7662 43.8632 45.1365 43.7738C45.5069 43.6843 45.8508 43.5227 46.144 43.3002C46.439 43.079 46.6762 42.8021 46.8388 42.4891C47.0015 42.176 47.0854 41.8346 47.0848 41.4891V22.0843C47.0826 21.5354 46.8671 21.0045 46.4757 20.5835C46.0844 20.1626 45.5417 19.8781 44.9418 19.7793ZM23.5641 5.21981C24.7701 5.21981 25.9332 5.79559 26.7688 6.60492C27.6044 7.41425 28.0688 8.47814 28.0688 9.58294C28.0688 10.6877 27.6044 11.7516 26.7688 12.561C25.9332 13.3703 24.7351 13.9461 23.5641 13.9461C22.3577 13.9461 21.1949 13.3703 20.3593 12.561C19.5237 11.7516 19.0593 10.6877 19.0593 9.58294C19.0593 8.47814 19.5237 7.41425 20.3593 6.60492C21.1949 5.79559 22.358 5.21981 23.5641 5.21981ZM20.9506 41.2774C16.8546 39.5733 12.3961 38.6906 7.88356 38.6901C7.02114 38.6901 6.15871 38.6901 5.27015 38.8077V24.0365C7.46166 23.8159 9.67589 23.8554 11.856 24.1542H12.1434C15.2576 24.6693 18.2418 25.6894 20.9506 27.1648V41.2774ZM23.5641 23.0957C22.4019 22.4924 21.1972 21.9581 19.9575 21.4963H19.8007C18.9383 21.1905 18.0759 20.8847 17.1873 20.6495C19.0019 19.3497 21.2451 18.6298 23.5641 18.6032C25.8769 18.6164 28.1195 19.3195 29.9408 20.6025C27.7222 21.2259 25.5844 22.0617 23.5641 23.0957ZM41.858 38.8077C36.4917 38.3224 31.0788 39.1344 26.1775 41.1598V27.0472C28.8912 25.6096 31.8773 24.6367 34.9847 24.1777H35.5074C37.6085 23.8832 39.7433 23.8358 41.858 24.0365V38.8077Z"
                    fill="#FF8600"
                    fill-opacity="0.5"
                />
            </svg>
            <p class="sec__four__card__info">{props?.attributes?.SubHeading}</p>
        </div>
        <p class="sec__four__offer">{props?.attributes?.ExtraText}</p>
        <a class="sec__four__btn" > <!-- onClick={handleScrollToTop} -->
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1994_4253)">
                    <path d="M4 19.375H18V21.375H4V19.375ZM8.6 16.675L4 12.075L6 10.175L8.6 12.775L16 5.375L18 7.375L8.6 16.675Z" fill="#11273D" />
                </g>
                <defs>
                    <clipPath id="clip0_1994_4253">
                        <rect width="24" height="24" fill="white" transform="translate(0.5 0.375)" />
                    </clipPath>
                </defs>
            </svg>
            {props?.attributes?.ButtonText}
        </a>
    </div>
</section>