
---

const props = Astro.props

---

<section class="section__two">
    <div class="sec__two__left">
        <div class="women__On__pc__web__wrapper">
        <img width={546} height={302} src={props?.attributes?.DesktopImage?.data?.attributes?.url} alt="" />
        </div>
        <div class="women__On__pc__mob__wrapper">
        <img width={360} height={274} src={props?.attributes?.MobileImage?.data?.attributes?.url} alt="" />
        </div>
    </div>
    <div class="sec__two__right">
        <!-- <p dangerouslySetInnerHTML={{ __html: props?.attributes?.Heading }} /> -->
        <a class="sec__two__btn" > <!-- onClick={handleScrollToTop} -->
        <svg width={22} height={22} viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.7211 2.44375H16.6211V1.39375C16.6211 1.11527 16.5105 0.848201 16.3136 0.651288C16.1166 0.454375 15.8496 0.34375 15.5711 0.34375C15.2926 0.34375 15.0255 0.454375 14.8286 0.651288C14.6317 0.848201 14.5211 1.11527 14.5211 1.39375V2.44375H8.22109V1.39375C8.22109 1.11527 8.11047 0.848201 7.91356 0.651288C7.71664 0.454375 7.44957 0.34375 7.17109 0.34375C6.89262 0.34375 6.62554 0.454375 6.42863 0.651288C6.23172 0.848201 6.12109 1.11527 6.12109 1.39375V2.44375H4.02109C3.18566 2.44375 2.38445 2.77562 1.79371 3.36636C1.20297 3.9571 0.871094 4.75832 0.871094 5.59375V18.1937C0.871094 19.0292 1.20297 19.8304 1.79371 20.4211C2.38445 21.0119 3.18566 21.3437 4.02109 21.3438H18.7211C19.5565 21.3437 20.3577 21.0119 20.9485 20.4211C21.5392 19.8304 21.8711 19.0292 21.8711 18.1937V5.59375C21.8711 4.75832 21.5392 3.9571 20.9485 3.36636C20.3577 2.77562 19.5565 2.44375 18.7211 2.44375ZM19.7711 18.1937C19.7711 18.4722 19.6605 18.7393 19.4636 18.9362C19.2666 19.1331 18.9996 19.2437 18.7211 19.2437H4.02109C3.74262 19.2437 3.47554 19.1331 3.27863 18.9362C3.08172 18.7393 2.97109 18.4722 2.97109 18.1937V10.8438H19.7711V18.1937ZM19.7711 8.74375H2.97109V5.59375C2.97109 5.31527 3.08172 5.0482 3.27863 4.85129C3.47554 4.65437 3.74262 4.54375 4.02109 4.54375H6.12109V5.59375C6.12109 5.87223 6.23172 6.1393 6.42863 6.33621C6.62554 6.53312 6.89262 6.64375 7.17109 6.64375C7.44957 6.64375 7.71664 6.53312 7.91356 6.33621C8.11047 6.1393 8.22109 5.87223 8.22109 5.59375V4.54375H14.5211V5.59375C14.5211 5.87223 14.6317 6.1393 14.8286 6.33621C15.0255 6.53312 15.2926 6.64375 15.5711 6.64375C15.8496 6.64375 16.1166 6.53312 16.3136 6.33621C16.5105 6.1393 16.6211 5.87223 16.6211 5.59375V4.54375H18.7211C18.9996 4.54375 19.2666 4.65437 19.4636 4.85129C19.6605 5.0482 19.7711 5.31527 19.7711 5.59375V8.74375Z" fill="#11273D" />
        </svg>
        {props?.attributes?.ButtonText}
        </a>
    </div>
    </section>