---

const props = Astro.props

---

<section class="section__seven">
    <div class="sec__seven__wrapper">
        <div class="sec__seven__left">
        <!-- <p dangerouslySetInnerHTML={{ __html: props?.attributes?.Heading }} /> -->
        <svg class="sec__seven__logo__web" width={163} height={30} viewBox="0 0 163 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.6334 0V6.57227H5.72136V8.22531H14.6334V15.0118H5.72136L0 29.056L0.00852519 0H14.6334Z" fill="#05386B" />
            <path d="M17.6719 20.056V0.0761719H20.3953V17.4857H29.5546V20.0533L17.6719 20.056Z" fill="#05386B" />
            <path d="M31.1918 0.0761719H33.928V11.5447C33.8972 12.4538 33.9642 13.3637 34.1275 14.2575C34.248 14.7652 34.4761 15.2386 34.7951 15.6432C35.3405 16.3215 36.0335 16.8553 36.8168 17.2006C37.6592 17.556 38.562 17.731 39.4711 17.715C40.9269 17.7881 42.3588 17.311 43.5017 16.3718C43.9988 15.9411 44.3947 15.3981 44.659 14.7843C44.9234 14.1706 45.0493 13.5022 45.0271 12.8303V0.0805998H47.765V12.9188C47.7971 13.9432 47.6074 14.962 47.2098 15.9001C46.8123 16.8383 46.217 17.6718 45.4679 18.3392C43.7856 19.7789 41.6489 20.5193 39.4711 20.4172C38.1156 20.4385 36.7709 20.1637 35.5242 19.6106C34.3645 19.0836 33.3451 18.2724 32.5535 17.2466C32.0649 16.6417 31.706 15.9358 31.5005 15.1757C31.2559 14.0224 31.1522 12.8417 31.1918 11.6615V0.0761719Z" fill="#05386B" />
            <path d="M51.7969 20.056V0.0761719H63.3641V2.61814H54.5203V8.67334H63.1168V11.2578H54.5203V17.4848H63.6557V20.0524L51.7969 20.056Z" fill="#05386B" />
            <path d="M67.1172 20.056V0.0761719H69.5106L82.1777 15.5856V0.0761719H84.9156V20.056H82.4676L69.8414 4.53236V20.056H67.1172Z" fill="#05386B" />
            <path d="M94.2248 20.056V2.6748H87.1562V0.0761719H104.03V2.6748H96.961V20.056H94.2248Z" fill="#05386B" />
            <path d="M112.691 20.056V0.0761719H115.415V17.4857H124.574V20.0533L112.691 20.056Z" fill="#05386B" />
            <path d="M127.621 20.056V0.0761719H130.371V20.056H127.621Z" fill="#05386B" />
            <path d="M135.281 20.056V0.0761719H146.229V2.61814H138.004V8.53079H145.981V11.0984H138.004V20.056H135.281Z" fill="#05386B" />
            <path d="M150.148 20.056V0.0761719H161.716V2.61814H152.87V8.67334H161.466V11.2578H152.87V17.4848H162.003V20.0524L150.148 20.056Z" fill="#05386B" />
        </svg>
        <svg class="sec__seven__logo__mob" width={137} height={25} viewBox="0 0 137 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.7848 0.0332031V5.55067H5.30312V6.9384H12.7848V12.6357H5.30312L0.5 24.4259L0.507157 0.0332031H12.7848Z" fill="#05386B" />
            <path d="M15.3359 16.8689V0.0957031H17.6223V14.7111H25.3115V16.8666L15.3359 16.8689Z" fill="#05386B" />
            <path d="M26.6866 0.0957031H28.9836V9.72358C28.9578 10.4868 29.014 11.2507 29.1511 12.001C29.2523 12.4273 29.4437 12.8247 29.7116 13.1643C30.1694 13.7337 30.7512 14.1819 31.4088 14.4717C32.116 14.7701 32.8739 14.917 33.6371 14.9036C34.8592 14.965 36.0613 14.5644 37.0208 13.776C37.4381 13.4144 37.7705 12.9586 37.9924 12.4433C38.2143 11.928 38.32 11.367 38.3014 10.8028V0.0994204H40.5999V10.8772C40.6268 11.7372 40.4676 12.5925 40.1338 13.38C39.8001 14.1676 39.3003 14.8673 38.6715 15.4276C37.2592 16.6362 35.4654 17.2578 33.6371 17.1721C32.4991 17.19 31.3702 16.9593 30.3236 16.495C29.35 16.0525 28.4943 15.3716 27.8297 14.5104C27.4196 14.0026 27.1182 13.4099 26.9457 12.7718C26.7404 11.8036 26.6534 10.8125 26.6866 9.8217V0.0957031Z" fill="#05386B" />
            <path d="M43.9844 16.8689V0.0957031H53.6951V2.2297H46.2707V7.31308H53.4875V9.48275H46.2707V14.7103H53.9399V16.8659L43.9844 16.8689Z" fill="#05386B" />
            <path d="M56.8438 16.8689V0.0957031H58.853L69.4872 13.116V0.0957031H71.7857V16.8689H69.7306L59.1308 3.8367V16.8689H56.8438Z" fill="#05386B" />
            <path d="M79.6021 16.8689V2.27727H73.668V0.0957031H87.834V2.27727H81.8991V16.8689H79.6021Z" fill="#05386B" />
            <path d="M95.1055 16.8689V0.0957031H97.3918V14.7111H105.081V16.8666L95.1055 16.8689Z" fill="#05386B" />
            <path d="M107.637 16.8689V0.0957031H109.945V16.8689H107.637Z" fill="#05386B" />
            <path d="M114.07 16.8689V0.0957031H123.261V2.2297H116.356V7.19341H123.053V9.34896H116.356V16.8689H114.07Z" fill="#05386B" />
            <path d="M126.551 16.8689V0.0957031H136.262V2.2297H128.836V7.31308H136.052V9.48275H128.836V14.7103H136.503V16.8659L126.551 16.8689Z" fill="#05386B" />
        </svg>
        </div>
        <div class="sec__seven__right">
        <div class="sec__mobile__web">
            <img width={332} height={645} src={props?.attributes?.Image?.data?.attributes?.url} alt="" />
        </div>
        <a class="sec__seven__btn" href='https://thefluentlife.com/'>
            <svg width={25} height={25} viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.97953 6.83689L11.2695 5.53689V17.1269C11.2695 17.3921 11.3749 17.6465 11.5624 17.834C11.75 18.0215 12.0043 18.1269 12.2695 18.1269C12.5347 18.1269 12.7891 18.0215 12.9766 17.834C13.1642 17.6465 13.2695 17.3921 13.2695 17.1269V5.53689L14.5595 6.83689C14.6525 6.93062 14.7631 7.00501 14.885 7.05578C15.0068 7.10655 15.1375 7.13269 15.2695 7.13269C15.4015 7.13269 15.5322 7.10655 15.6541 7.05578C15.776 7.00501 15.8866 6.93062 15.9795 6.83689C16.0733 6.74393 16.1477 6.63333 16.1984 6.51147C16.2492 6.38961 16.2753 6.2589 16.2753 6.12689C16.2753 5.99488 16.2492 5.86417 16.1984 5.74232C16.1477 5.62046 16.0733 5.50986 15.9795 5.41689L12.9795 2.41689C12.8866 2.32316 12.776 2.24877 12.6541 2.198C12.5322 2.14723 12.4015 2.12109 12.2695 2.12109C12.1375 2.12109 12.0068 2.14723 11.885 2.198C11.7631 2.24877 11.6525 2.32316 11.5595 2.41689L8.55953 5.41689C8.37123 5.6052 8.26544 5.86059 8.26544 6.12689C8.26544 6.39319 8.37123 6.64859 8.55953 6.83689C8.74784 7.0252 9.00323 7.13098 9.26953 7.13098C9.53583 7.13098 9.79123 7.0252 9.97953 6.83689ZM18.2695 9.12689H16.2695C16.0043 9.12689 15.75 9.23225 15.5624 9.41979C15.3749 9.60732 15.2695 9.86168 15.2695 10.1269C15.2695 10.3921 15.3749 10.6465 15.5624 10.834C15.75 11.0215 16.0043 11.1269 16.2695 11.1269H18.2695C18.5347 11.1269 18.7891 11.2322 18.9766 11.4198C19.1642 11.6073 19.2695 11.8617 19.2695 12.1269V19.1269C19.2695 19.3921 19.1642 19.6465 18.9766 19.834C18.7891 20.0215 18.5347 20.1269 18.2695 20.1269H6.26953C6.00431 20.1269 5.74996 20.0215 5.56242 19.834C5.37489 19.6465 5.26953 19.3921 5.26953 19.1269V12.1269C5.26953 11.8617 5.37489 11.6073 5.56242 11.4198C5.74996 11.2322 6.00431 11.1269 6.26953 11.1269H8.26953C8.53475 11.1269 8.7891 11.0215 8.97664 10.834C9.16417 10.6465 9.26953 10.3921 9.26953 10.1269C9.26953 9.86168 9.16417 9.60732 8.97664 9.41979C8.7891 9.23225 8.53475 9.12689 8.26953 9.12689H6.26953C5.47388 9.12689 4.71082 9.44296 4.14821 10.0056C3.5856 10.5682 3.26953 11.3312 3.26953 12.1269V19.1269C3.26953 19.9225 3.5856 20.6856 4.14821 21.2482C4.71082 21.8108 5.47388 22.1269 6.26953 22.1269H18.2695C19.0652 22.1269 19.8282 21.8108 20.3909 21.2482C20.9535 20.6856 21.2695 19.9225 21.2695 19.1269V12.1269C21.2695 11.3312 20.9535 10.5682 20.3909 10.0056C19.8282 9.44296 19.0652 9.12689 18.2695 9.12689Z" fill="#11273D" />
            </svg>
            {props?.attributes?.ButtonText}
        </a>
        </div>
    </div>
    </section>