---

const props = Astro.props

---

<section class="section__six">
    <div class="sec__six__top">
        <div class="sec__six__top--logo">
        <img width={135} height={26} src={props?.attributes?.BrandLogo?.data?.attributes?.url} alt="FLUENT LIFE" />
        </div>
        <!-- <p dangerouslySetInnerHTML={{ __html : props?.attributes?.Heading}} /> -->
    </div>
    <div class="six__img__wrapper">
        <!-- {showVideo && videoDetails.url !== "" && (
            <Modal setShowVideo={setShowVideo} link={videoDetails.url} name={videoDetails.name} />
        )} -->
        {props?.attributes?.Testimonials?.map(each => {
            return (
                <div class="sec__six__card">  <!--  key={Math.random()} -->
                    <a class="video-btn"> <!--  onClick={() => {onClickPlayVideo(each?.Link,'')}} -->
                        <img width={222} height={395} src={each?.Image?.data?.attributes?.url} alt="" />
                    </a>
                </div>
            )
        })}
    </div>
    <a class="sec__six__btn" >{props?.attributes?.ButtonText}</a>  <!-- onClick={handleScrollToTop} -->
</section>