---

const props = Astro.props

---

<section class="section__three">
    <div class="sec__three__smiling__girl__web">
        <img width={545} height={640} src={props?.attributes?.Image?.data?.attributes?.url} alt="" />
    </div>
    <div class="sec__three__main__div">
        <!-- <p dangerouslySetInnerHTML={{ __html : props?.attributes?.Heading}} /> -->

        <div class="sec__three__card__wrapper">
            {props?.attributes?.Card?.map(each => {
                return (
                    <div  class="sec__three__card">
                                                     
                    </div>
                )
            })}
        </div>
        <a class="sec__three__btn" > <!-- onClick={handleScrollToTop} -->
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M20.5 12.6992V6.44822C20.5001 6.36928 20.4845 6.29111 20.4543 6.21818C20.4241 6.14525 20.3798 6.079 20.324 6.02322L17.176 2.87522C17.0636 2.76266 16.9111 2.69936 16.752 2.69922H5.1C4.94087 2.69922 4.78826 2.76243 4.67574 2.87495C4.56321 2.98748 4.5 3.14009 4.5 3.29922V22.0992C4.5 22.2583 4.56321 22.411 4.67574 22.5235C4.78826 22.636 4.94087 22.6992 5.1 22.6992H8.5M8.5 10.6992H16.5M8.5 6.69922H12.5M8.5 14.6992H11.5"
                    stroke="#11273D"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path d="M16.5 2.69922V6.09922C16.5 6.25835 16.5632 6.41096 16.6757 6.52348C16.7883 6.636 16.9409 6.69922 17.1 6.69922H20.5" stroke="#11273D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20.5 17.4684H18.7857V14.6992H16.2143V17.4684H14.5L17.5 20.6992L20.5 17.4684Z" fill="#11273D" />
                <path d="M14.5 22.6992L20.5 22.6992" stroke="#11273D" stroke-width="1.5" stroke-linecap="round" />
            </svg>
            {props?.attributes?.ButtonText}
        </a>
    </div>
</section>