---

import FirstFold from '../components/Fluent Life/FluentV5/FirstFold.astro';
import SecondFold from '../components/Fluent Life/FluentV5/SecondFold.astro';
import ThirdFold from '../components/Fluent Life/FluentV5/ThirdFold.astro';
import FourthFold from '../components/Fluent Life/FluentV5/FourthFold.astro';
import FifthFold from '../components/Fluent Life/FluentV5/FifthFold.astro';
import SixthFold from '../components/Fluent Life/FluentV5/SixthFold.astro';
import SeventhFold from '../components/Fluent Life/FluentV5/SeventhFold.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/FluentV5/style.css';


const reponse = await fetch('https://lpmscms.ufaber.com/api/fluent-life-v5s/?' 
    + 'populate[0]=FirstFold.Inputs&populate[1]=SecondFold.DesktopImage' 
    + '&populate[2]=SecondFold.MobileImage' 
    + '&populate[3]=ThirdFold.Image'
    + '&populate[4]=ThirdFold.Card'
    + '&populate[5]=FourthFold.DesktopImage'
    + '&populate[6]=FourthFold.MobileImage'
    + '&populate[7]=FifthFold.Image'
    + '&populate[8]=FifthFold.Points'
    + '&populate[9]=SixthFold.BrandLogo'
    + '&populate[10]=SixthFold.Testimonials.Image'
    + '&populate[11]=SeventhFold.Image')

const data = await reponse.json()
console.log(data)

---

<Layout title="Fluent V5">
    <div>
        {data.data.map(({ id, attributes }) => {
    
            if (attributes.Slug === "NrQplSbsLPh2VO0fWDJN") {
    
                return(
                    <>
                        <FirstFold variantId="NrQplSbsLPh2VO0fWDJN" attributes={attributes.FirstFold}/>
                        <SecondFold variantId="NrQplSbsLPh2VO0fWDJN" attributes={attributes.SecondFold}/>
                        <ThirdFold variantId="NrQplSbsLPh2VO0fWDJN" attributes={attributes.ThirdFold}/>
                        <FourthFold variantId="NrQplSbsLPh2VO0fWDJN" attributes={attributes.FourthFold}/>
                        <FifthFold variantId="NrQplSbsLPh2VO0fWDJN" attributes={attributes.FifthFold}/>
                        <SixthFold variantId="NrQplSbsLPh2VO0fWDJN" attributes={attributes.SixthFold}/>
                        <SeventhFold variantId="NrQplSbsLPh2VO0fWDJN" attributes={attributes.SeventhFold}/>
                    </>
                )
    
            }
    
            return null
        })}
    </div>
</Layout>
