---

import Layout from '../layouts/Layout.astro'
import Form from '../components/form.astro'
import Header from '../components/header.astro'

// const formData = new FormData();

// formData.append("name", "Test")
// formData.append("phone", "9876543210")
// formData.append("email", "sampleuser@gmail.com")
// formData.append("source", "abroad-ninja")
// formData.append("utm_Source", "source")
// formData.append("utm_campaign", "sample")
// formData.append("utm_medium", "sample")

// const reponse = await fetch('https://api.ufaber.com/api/leads-submit/fetch-lead/', {
//     method: 'post',
//     body: formData
// })
// const data = await reponse.json()
// console.log(data)

---

<Layout title="Sample Page">
	<div class="mainWrapper">
        <Header />
        <Form />
    </div>
</Layout>