---

import Usv2 from "../components/Upsc Pathshala/UpscV2/Usv2.jsx";
import Layout from "../layouts/Layout.astro";
// import Carosuel from "../components/Upsc Pathshala/UpscV2/Carosuel";

const response = await fetch("https://lpmscms.ufaber.com/api/upsc-pathshala-version2s/?" +
				"populate[0]=UI.UpperUI.MobileLogo&" +
				"populate[1]=UI.UpperUI.Carousel1Image&" +
				"populate[2]=UI.UpperUI.Carousel2Image&" +
				"populate[3]=UI.MiddleUI.CollageImage&" +
				"populate[4]=UI.BottomUI.Carousel1Desktop&" +
				"populate[5]=UI.BottomUI.Carousel2Desktop&" +
				"populate[6]=UI.BottomUI.Carousel3Desktop&" +
				"populate[7]=UI.BottomUI.Carousel4Desktop&" +
				"populate[8]=UI.BottomUI.Carousel5Desktop&" +
				"populate[9]=UI.BottomUI.Carousel1Mobile&" +
				"populate[10]=UI.BottomUI.Carousel2Mobile&" +
				"populate[11]=UI.BottomUI.Carousel3Mobile&" +
				"populate[12]=UI.BottomUI.Carousel4Mobile&" +
				"populate[13]=UI.BottomUI.Carousel5Mobile&" +
				"populate[14]=UI.Footer&" +
				"populate[15]=Form.FormInputs&" +
				"populate[16]=Form.DesktopLogo")

const data = await response.json()

---

<Layout title="UPSC Pathshala">
	<!-- <Carosuel /> -->
    <Usv2 data={data.data} />
	
</Layout>


