
.mainDiv{
    display: flex;
    justify-content: center;
    width: 100%;
    background: #F8F3FF;
    max-width: 1440px;
    margin: 0 auto;
}

.leftDiv{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0rem;
    width: 100%;
    max-width: 720px;
}

.rightDiv{
    height: 100%;
    width: 100%;
    max-width: 720px;
    position: sticky;
    right: 0;
    top: 0;
}


 /* RIGHT SECTION */

.outer-right-box {
    width: 100%;
    height: 100vh;
    padding: 2.5rem 3rem;
    background: linear-gradient(180deg, #5A53D6 19.33%, #5A53D6 100%);
    position: relative;
}

.outer-right-box .brand-info-box {
    text-align: center !important;
}

.outer-right-box .brand-info-box .image-fluid {
    max-width: 100%;
    height: auto;
}

.outer-right-box .brand-info-box p {
    width: 100%;
    margin: 50px auto;
    color: white;
    font-size: 17px;
    font-weight: 300;
}

.main-form {
    text-align: center;
    margin: 80px 0 0;
}

.main-form .form-input1 {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.main-form .form-input1 h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;
}

.main-form .form-input1 input {
    width: 100%;
    margin-top: 14px;
    border: none;
    padding: 0.875rem;
    border-radius: 2px;
    font-size: 14px;
}

.main-form .form-input1 #inputNext {
    position: absolute;
    top: 77%;
    right: 4px;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    background: #ff7a00;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.main-form .form-input1 .row {
    display: flex;
    flex-wrap: wrap;
}

.main-form .form-input1 .row h5 {
    text-align: right;
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
    margin-left: 16px;
}

#indicatorGrey {
    margin-left: 16px;
    text-align: right;
    margin-top: 15px;
    font-size: 14px;
    color: #9784B6 !important;
}


.form-input2 {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.main-form .form-input2 h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;
}

.main-form .form-input2 input {
    width: 100%;
    margin-top: 14px;
    border: none;
    padding: 0.875rem;
    border-radius: 2px;
    font-size: 14px;
}

.form-input2 #inputNext2 {
    position: absolute;
    top: 77%;
    right: 4px;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    background: #ff7a00;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.main-form .form-input2 .row {
    display: flex;
    flex-wrap: wrap;
}

.main-form .form-input2 .row h5 {
    text-align: right;
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
    margin-left: 16px;
}

.form-input3 {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.main-form .form-input3 h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;
}

.main-form .form-input3 input {
    width: 100%;
    margin-top: 14px;
    border: none;
    padding: 0.875rem;
    border-radius: 2px;
    font-size: 14px;
}

.form-input3 #inputNext3 {
    position: absolute;
    top: 77%;
    right: 4px;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    background: #ff7a00;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.main-form .form-input3 .row {
    display: flex;
    flex-wrap: wrap;
}

.main-form .form-input3 .row h5 {
    text-align: right;
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
    margin-left: 16px;
}

.form-input4 {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.main-form .form-input4 h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;
}

.main-form .form-input4 select {
    width: 100%;
    margin-top: 14px;
    border: none;
    padding: 0.875rem;
    border-radius: 2px;
    font-size: 14px;
}

.form-input4 #inputNext4 {
    position: absolute;
    top: 80%;
    right: 4px;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    background: #ff7a00;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.main-form .form-input4 .row {
    display: flex;
    flex-wrap: wrap;
}

.main-form .form-input4 .row h5 {
    text-align: right;
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
    margin-left: 16px;
}
    

/* LEFT SECTION */

.left-upper-box {
    position: relative;
    padding: 1.25rem 1rem 0rem
}

.left-upper-box h3 {
    font-weight: 700;
    color: #4A15A0;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.left-upper-box h3 span {
    color: #4A15A0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
}

.left-upper-box p {
    font-weight: 500;
    font-size: 20px;
    color: #313131;
    margin-top: 20px;
    line-height: 160%;
    text-align: center;
}

.left-upper-box p span {
    font-weight: 700;
}

.left-upper-box .owl-theme {
    margin: 1.5rem 0rem;
}

.left-middle-box {
    background-color: #ffffff;
    margin: 10px 0 0 0;
    text-align: center;
    padding: 3rem 2rem;
}

.left-middle-box .upper-container {
    margin: 0 0 48px;
}

.left-middle-box .upper-container .top-text {
    font-size: 1.25rem;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

.left-middle-box .upper-container .top-text span {
    font-weight: 700;
    color: #242424;
}

.left-middle-box .upper-container img {
    margin: 42px 0;
    width: 100%;
}

.left-middle-box .upper-container .bottom-text {
    font-size: 1.25rem;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;}

.left-middle-box .upper-container .bottom-text span {
    font-weight: 700;
    color: #242424;
}

.left-middle-box hr {
    background-color: #5623AA;
    width: 40px;
    height: 2px;
    margin: 0 auto;

}

.left-middle-box .lower-container {
    margin: 40px 0 0;
}

.left-middle-box .lower-container h4 {
    color: #5623AA;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}

.left-middle-box .owl-theme {
    margin: 45px 0 25px 0px;
    width: 100%;
}

.left-middle-box .carousel-text {
    text-align: center;
    margin-top: 30px;
    font-size: 1.25rem;
    color: #1a1a1a;
}

.footer-content {
    position: relative;
    margin: 32px 0 0;
}

.footer-content p {
    text-align: center;
    font-size: 1rem;
    color: #636262;
}
.btn-form-open {
    display: none;
}
@media ( max-width : 1000px ) {
    .rightDiv {
        display: block;
    }
    .leftDiv {
        max-width: 100%;
        padding: 0rem 1rem 3rem;
    }
    .left-middle-box .upper-container .top-text {
        max-width: 100%;
    }
    .left-middle-box .upper-container .bottom-text  {
        max-width: 100%;
    }
    .btn-form-open  {
        text-align: center;
        border-radius: 5px;
        color: #ffffff !important;
        background: linear-gradient(270deg, #FF7A00 0%, #FF7A00 100%) !important;
        box-shadow: 3px 3px 0px rgb(0 0 0 / 10%), inset 3px 3px 0px rgb(0 0 0 / 10%) !important;
        padding: 0.875rem 0rem;
        cursor: pointer;
        outline: none;
        border: none;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        column-gap: 1rem;
        justify-content: center;
        row-gap: 0.5rem;
        width: 100%;
        max-width: 300px;
        margin: 1rem auto;
    }

    .btn-form-open i {
        color: #fff;
        font-size: 20px;
        grid-column: 2;
        grid-row: 1 / 3;
    }
    .footer-content {
        margin: 0px;
    }
}

@media (max-width: 768px) {


    /* LEFT SECTION */

    .left-upper-box {
        width: 100%;
        text-align: center!important;
    }

    .left-upper-box h3 {
        font-size: 30px;
        margin: 30px 0 0;
        font-weight: 600;
    }

    .left-upper-box h3 span {
        font-size: 34px;
    }
    .left-upper-box p span {
        font-weight: 500;
    }



    .left-middle-box hr {
        display: none;
    }


    .left-middle-box .owl-theme {
        text-align: center;
    }

    .left-middle-box .carousel-text {
        text-align: center;
        font-size: 18px;
        color: #1a1a1a;
    }



}

@media ( max-width : 500px ) {
    .left-upper-box h3 {
        font-size: 1.5rem;
    }
    .left-upper-box p {
        font-size: 1rem;
        margin-top: 0.625rem;
    }
    .left-middle-box {
        padding: 2rem 1rem;
        width: 100%;
    }
    .left-middle-box .upper-container .top-text {
        font-size: 1rem;
    }
    .left-middle-box .upper-container .bottom-text {
        font-size: 1rem;
    }
    .left-middle-box .upper-container {
        margin-bottom: 2rem;
    }
    .left-middle-box .lower-container h4 {
        font-size: 1.5rem;
    }
    .left-middle-box .owl-theme {
        margin: 28px 0 20px 0px;
        width: 100%;
    }
    .left-middle-box .carousel-text {
        font-size: 1rem;
    }
    .leftDiv {
        max-width: 100%;
        padding: 0rem 1rem 2rem;
    }
    .left-middle-box .upper-container img {
        margin: 24px 0;
    }
}