---



// document.getElementById('submit').onclick = async() => {

//     let name:string = (document.getElementById('name') as HTMLInputElement).value;
//     let phone:string = (document.getElementById('phone') as HTMLInputElement).value;
//     let email:string = (document.getElementById('name') as HTMLInputElement).value;
//     let purpose:string = (document.getElementById('purpose') as HTMLInputElement).value;


// }

---

<div class="formWrapper">
    <form action="#">
        <label for="">Full Name<span class="redAsterisk">*</span></label>
        <div class="formInputWrapper">
            <input type="text" name="" id="name" placeholder="Full Name" value="">
        </div>

        <label for="">Phone Number<span class="redAsterisk">*</span></label>
        <div class="formInputWrapper">
            <input type="text" name="" id="phone"  placeholder="Phone Number">
        </div>

        <label for="">Email ID<span class="redAsterisk">*</span></label>
        <div class="formInputWrapper">
            <input type="text" name="" id="email" placeholder="Email ID">
        </div>

        <label for="">Purpose<span class="redAsterisk">*</span></label>
        <div class="selectInputWrapper">
            <select name="" id="purpose">
                <option value="" disabled selected>Select</option>
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
            </select>
        </div>
        <button class="submit-btn" id="submit">Submit</button>
    </form>
</div>