---
import '../styles/common.css'

export interface Props {
    title?: string;
}
const { title = "uFaber Landing Page" } = Astro.props as Props;

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is an example of a meta description. This will often show up in search results.">
    <title>{title}</title>
</head>
<body>
    <slot />
</body>
